body{
    background: rgb(154,177,235);
    background: radial-gradient(circle, rgba(154,177,235,1) 0%, rgba(225,234,245,1) 100%);
    font-family: 'Roboto', sans-serif;
}
.editor{
    background: rgb(154,205,235);
    background: linear-gradient(225deg, rgba(154,205,235,1) 0%, rgba(225,234,245,1) 50%, rgba(154,205,235,1) 99%);
}
table tr td:last-child:hover{
    background-color: darkgrey;
    box-shadow: grey;
}
table tr td a:link {
    text-decoration:none;
}
#login .container #login-row #login-column #login-box {
    margin-top: 120px;
    max-width: 600px;
    height: 320px;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
  }
#login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
  }
#login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -85px;
  }
.button {
	display: inline-block;
	padding: 10px 20px;
	background-color: #4CAF50;
	color: white;
	text-decoration: none;
	border-radius: 4px;
	font-weight: bold;
}

.button:hover {
	background-color: #45a049;
}