<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
	<script src="{{url_for('static',filename='js/filter.js')}}"></script>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
	<script type="text/javascript" src="{{url_for('static',filename='datepicker/moment.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static',filename='datepicker/daterangepicker.js')}}"></script>
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='datepicker/daterangepicker-bs3.css')}}" />
	<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
	<link href="{{url_for('static',filename='style.css')}}" rel="stylesheet">
	<script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <title>Evidnecija gostiju</title>
</head>
<body>
   
<div class="container-fluid">
    <div class="row justify-content-around">
    <div class="col-2"></div>
        <div class="col-4"><h1 class="pb-3 mb-4 text-center ">Evidencija gostiju</h1></div>
    <div class="col-2 text-center mt-4">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{username}}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="guest_evidention">Evidencija gostiju</a>
                <a class="dropdown-item" href="cust_signin">Unos novog gosta</a>
                <a class="dropdown-item" href="logout">Logout</a>
            </div>
        </div>
    </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-10 text-right m-4">
            <input id="guestSearch" type="text" placeholder="Search.." class="border">
        </div>
    </div>
    <div class="row justify-content-around">
        <div class="col-10" style="overflow-x: auto;">
        <table class="table table-dark text-center ">
            <thead>
                <tr>
                <th scope="col">ID računa</th>
                <th scope="col">Ime i prezime gosta</th>
                <th scope="col">Ima li gost ljubimca?</th>
                <th scope="col">Cijena ljubimca</th>
                <th scope="col">Akontacija</th>
                <th scope="col">Jedinična cijena</th>
                <th scope="col">Iznos računa</th>
                <th scope="col">Datum dolaska</th>
                <th scope="col">Datum odlaska</th>
                <th scope="col">Nadnevak</th>
                <th scope="col">Printanje</th>
				<th scope="col">Brisanje</th>
                </tr>
            </thead> 
            <tbody id="guestTable">
				{% for result in results%}
				<tr>
					<td scope="row">{{result[0]}}</td> <!--id-->
					<td>{{ result[1] }}</td> <!--name-->
					<td>{{ result[2] }}</td> <!--has_pet-->
					<td>{{ result[3] }}</td> <!--pet_price-->
					<td>{{ result[4] }}</td> <!--accontation-->
					<td>{{ result[5] }}</td> <!--unit_price-->
					<td>{{ result[6] }}</td> <!--bill_price-->
					<td>{{ result[7] }}</td> <!--date_from-->
					<td>{{ result[8] }}</td> <!--date_to-->
					<td>{{ result[8] }}</td> <!--bill_date-->
					<td><a href="/print?id={{result[0]}}">Printanje</a></td> <!--print-->
					<td><a href="/delete?id={{result[0]}}">Brisanje</a></td> <!--print-->
				</tr>
				{%endfor%}
            </tbody>
            </table>
            </div>
        </div>
        <div class="row justify-content-around">
            <div class="col text-center">
                <a href="cust_signin" class="btn btn-secondary">Unesi novog gosta</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>